body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% auto;
}

.menu {
    display: grid;
    grid-template-columns: 10% 10% 10% auto 5% 10% 10%;
    grid-template-rows: 100%;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgb(131, 131, 131);
}

.menu button {
    width: 100%;
    height: 100%;
}

.menu .progress {
    width: 100%;
    height: 100%;
}

.menu .progress .health {
    height: 100%;
    background-color: red;
}

.menu .progress .energy {
    height: 100%;
    background-color: blue;
}

.menu .info {
    width: 100%;
    height: 100%;
}

.menu .info p {
    margin: 0;
}

.final-window {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.final-window .content {
    position: absolute;
    width: 50vw;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.final-window .content .name-input {
    padding: 5px;
    border: 1px solid grey;
    width: 90%;
    border-radius: 5px;
    line-height: 1.5;
}

.final-window .content .submit-button {
    margin: 5%;
    padding: 7px;
    border-radius: 5px;
}

.final-window .content .submit-button:hover {
    border-radius: 10px;
}

.about-window {
    position: absolute;
    width: 75vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
}

.score-window {
    position: absolute;
    width: 50vw;
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    text-align: center;
}

.score-table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
}
.score-table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.score-table td {
	border: 1px solid #dddddd;
	padding: 5px;
}
