body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% auto;
}

.menu {
    display: grid;
    grid-template-columns: 10% auto 5% 10% 10%;
    grid-template-rows: 100%;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgb(131, 131, 131);
}

.menu button {
    width: 100%;
    height: 100%;
}

.menu .progress {
    width: 100%;
    height: 100%;
}

.menu .progress .health {
    height: 100%;
    background-color: red;
}

.menu .progress .energy {
    height: 100%;
    background-color: blue;
}

.menu .info {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.menu .info p {
    margin: 0;
}

.window {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.window .main {
    position: absolute;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.window .main button {
    height: 100px;
    width: 100px;
}
