<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Космический прорыв</title>
    <link href="static/main.css" rel="stylesheet">
</head>

<body>
    <div class="final-window" id="final-window" style="visibility: hidden;">
        <div class="content">
            <h1>Как вас зовут?</h1>
            <form id="name-form">
                <input type="text" name="name" class="input-text" autocomplete="on">
                <input type="submit" class="input-submit">
            </form>
            <br>
        </div>
    </div>
    <div class="about-window" id="about-window" style="visibility: hidden;">
        <h1 style="text-align: center;">Правила игры</h1>
        <p>
            Вы играете за отважного пилота истребителя! Вам предстоит прорываться сквозь обширный флот противников, с
            целью уничтожить как можно больше вражеских командных кораблей!
        </p>
        <h2>Как управлять истребителем?</h2>
        <p>В игре у вас есть два критических показателя: прочность ваших щитов (красная полоска сверху) и ваш запас
            энергии (синяя полоска сверху). Каждый измеряется в условных единицах от 0 до 100. При нулевой прочности
            щитов ваш корабль погибнет от любого вражеского выстрела и игра завершиться. Не забывайте следить за этим
            показателем!</p>
        <p>Управление истребителем осуществляется с помощью клавиш w, a, s, d. Также вы можете стрелять, используя
            стрелки. Каждый выстрел расходует 10 единиц энергии, которая восполняется со скоростью 0.5 единиц за игровой
            тик. Более того вам доступны прыжки в случайную точку на карте, по клавише e (расходует 50 единиц энергии),
            используйте их для неожиданных маневров. И наконец, вы можете форсировать энергию на восстановление ваших
            щитов. Каждые 5 пунктов прочности щита можно восстановить за 10 единиц энергии. </p>
        <h2>Как происходит игра?</h2>
        <p>Вам нужно уничтожать корабли противников, уворачиваясь от их собственных снарядов. За каждого погибшего
            противника вы будете получать 100 очков, но также будет появляться пара новых им на замену. Будьте
            аккуратны, ваши противники будут пытаться не просто попасть в вас, но и также взять вас в кольцо. Не дайте
            взять себя в окружение! Каждые 1000 очков будет появляться командный корабль – грозный противник с
            увеличенным количеством здоровья. После победы над ним сложность повысится и у всех ваших противников станет
            больше здоровья. </p>
        <p>Таким образов в первой волне противники погибают от одного выстрела, в следующей уже от двух и так далее.
            Здоровье командного корабля также растет (5 * на номер уровня). </p>
    </div>
    <div class="score-window" id="score-window" style="visibility: hidden;">
        <h1>
            Таблица лидеров
        </h1>
        <form id="request-param" class="request-setting">
            <label for="formcount">Количество строк</label>
            <input type="text" name="count" id="formcount" class="input-text">
            <select name="order">
                <option value="score-desc">По счёту, по убыванию</option>
                <option value="score-asc">По счёту, по возрастанию</option>
                <option value="name-desc">По имени, по убыванию</option>
                <option value="name-asc">По имени, по возрастанию</option>
                <option value="time-desc">По времени, по убыванию</option>
                <option value="time-asc">По времени, по возрастанию</option>
            </select>
            <input type="submit" value="Отобразить" class="input-submit">
        </form>
    </div>
    <div class="container">
        <div class="menu">
            <button onclick="showAbout()">
                Правила
            </button>
            <button id="play-button" onclick="startGame()">
                Играть
            </button>
            <button onclick="showScores()">
                Результаты
            </button>
            <div></div>
            <div class="info">
                <p>Счёт</p>
                <p id="score">0</p>
            </div>
            <div class="progress">
                <div class="health" id="health" style="width: 100%;"></div>
            </div>
            <div class="progress">
                <div class="energy" id="energy" style="width: 100%;"></div>
            </div>
        </div>
        <canvas id="main"></canvas>
    </div>

    <script src="static/scripts/entity.js"></script>
    <script src="static/scripts/player.js"></script>
    <script src="static/scripts/enemy.js"></script>
    <script src="static/scripts/background.js"></script>
    <script src="static/scripts/main.js"></script>
</body>

</html>